<div class="rating__container">
  <h3>{{ content }}</h3>

  <div class="rating__button-group">
    <div class="rating__button-item" *ngFor="let option of options">
      <input
        [id]="'button-' + option"
        type="radio"
        [checked]="option === value"
        (click)="valueUpdated(option)"
        [disabled]="disabled"
      />
      <label
        class="rating__button-label rating__button-label-{{ option }}"
        [class.rating__button-selected]="option === value"
        [ngClass]="option === value ? 'rating__button-selected-' + option : ''"
        [for]="'button-' + option"
      >
        <svg-icon src="assets/smileys/smiley-{{ option }}.svg"></svg-icon>
      </label>
    </div>
  </div>
</div>
