:root {
  --red: #f75455;
  --red-light: #fef8f8;

  --orange: #f9af05;
  --orange-light: #fdf1d3;
  --orange-dark: #d3a305;

  --yellow: #fbdf28;
  --yellow-light: #fcffd9;

  --lime: #a1e36d;
  --lime-light: #efffe2;

  --green: #40d572;
  --green-light: #d7ffec;

  --white: #fff;
  --blue: #55bcff;
  --gray: #a0a0a0;
}
