<footer class="footer__container">
  <h3>Hoe verkoop je het beste een huis?</h3>
  <div class="footer__cards">
    <div class="footer__cards-item" *ngFor="let card of cards">
      <img src="https://via.placeholder.com/300x150" alt=" card-image" style="width:100%">

      <div class="container">
        <h4 class="container-title">6 makkelijke manieren om voor een huis te sparen</h4>
        <p class="container-description">Een huis kopen een onbereikbare toekomstdroom? Dat hoeft helemaal niet!</p>
        <a class="container-link">Lees meer »</a>
      </div>
    </div>
  </div>
</footer>
