.button {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 15px;
  border: 2px solid var(--orange);

  &:hover {
    background-color: var(--orange-dark);
    border-color: var(--orange-dark);
  }

  &:active {
    background-color: #ddd;
  }

  &-outline {
    background-color: var(--white);
    color: var(--orange);

    &:hover {
      background-color: var(--orange);
      border-color: var(--orange);
      color: var(--white);
    }
  }
}
