.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;

  &__container {
    max-width: 720px;
  }

  // &__form {}

  &__section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 50px;
    text-align: center;

    &-content {
      padding: 0 50px;
    }

    h2,
    h3 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 15px;
      opacity: 0.8;
    }

    &-button-group {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 30px;
    }
  }

  &__rating {
    margin-top: 60px;
  }

  &__text-area {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    textarea {
      border-radius: 5px;
      border: 1px solid var(--gray);
      padding: 10px;
    }

    &-invalid {
      border: 1px solid var(--red);
    }

    &-error-message {
      font-size: 14px;
      color: var(--red);
      float: left;
      font-style: italic;
      align-self: baseline;
    }
  }

  &__submit {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    &-policy {
      font-size: 14px !important;
      margin: 10px 0;
      color: var(--gray);
      text-align: center;
      font-weight: 300;
      font-style: italic;
    }

    &-alert {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
