.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;

  &__container {
    max-width: 800px;
  }

  // &__form {}

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 50px;

    text-align: center;

    &-content {
      padding: 0 30px;
    }

    h2 {
      font-size: 26px;
      font-weight: 500;
      margin-bottom: 0px;
      line-height: 1.2;
    }

    p {
      font-size: 15px;
      opacity: 0.8;
    }

    &-button-group {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 30px;
    }
  }

  &__rating {
    margin-top: 60px;
  }

  &__text-area {
    text-align: center;

    textarea {
      border-radius: 5px;
    }

    &-invalid {
      border: 1px solid var(--red);
    }

    &-error-message {
      color: var(--red);
      float: left;
      font-style: italic;
    }
  }

  &__submit {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    &-policy {
      font-size: 12px !important;
      color: var(--gray);
      text-align: center;
      margin-top: 10px;
      font-style: italic;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
